@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://miro.medium.com/max/800/1*cq2-hwx8Cev0eXpaW6CIHg.jpeg"" style="width:600px;height:293px;"/>
         <h1 class="display-4">Welcome</h1>
    <p>Hospital Management Web apps </p>
</div>
